$dark: #070707;
$blue: #061d33;
$yellow: #f4c724;
$beige: #f2efda;
$light: #fffdf2;

.nav-bar {
  position: fixed;
  width: 100vw;
  height: 7.35vh;
  left: 0;
  top: 0;
  z-index: 1;

  margin: 0;

  background: $dark;
}

.slide-in-enter-active {
  animation: slide-in 0.5s;
}
.slide-in-leave-active {
  animation: slide-in 0.25s reverse;
}
@keyframes slide-in {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-title {
  font-family: BigJohnBold;
  font-weight: normal;
  color: $light;
  font-size: 4vh;
  letter-spacing: 0.25em;

  position: relative;
  left: 1vw;
  top: 1.3vh;
}

.ham-container {
  position: fixed;
  width: 5vw;
  right: 0;
  top: 0;
  z-index: 1;

  margin: 0;
  padding-top: 1.75vh;
  padding-bottom: 1.6vh;

  background: $yellow;
}

.hamburger {
  position: relative;
}

.hamburger div {
  width: 2vw;
  height: 0.35vh;
  background-color: $light;
  border-radius: 5px;
  margin: 0.75vh 0vw;

  position: relative;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  transition: 0.5s;
}

.hamburger:hover div {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  width: 45px;
  background-color: $dark;
}

.hamburger:hover .ham-mid {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  width: 25px;
  background-color: $dark;
}

.menu-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  position: fixed;
  display: flex;
  flex-direction: column;

  align-items: center;

  overflow-x: hidden;
  z-index: 1;

  transition: 0.5s;

  background-color: $dark;
  opacity: 0.92;
}

.nav-link-1 {
  position: absolute;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.nav-link-2 {
  position: absolute;
  bottom: 0;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.nav-link-3 {
  position: absolute;
  top: 45%;
  left: 10px;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.nav-link-4 {
  position: absolute;
  top: 45%;
  right: 10px;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.closeBtn {
  position: absolute;
  right: 1.25vw;
  top: 0.75vw;

  font-size: 1rem;
  color: $light;

  transition: 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.footer-container {
  position: absolute;
  width: 100%;
  height: 25vh;
  max-height: 300px;
  min-height: 100px;

  text-align: center;
}

.footer-TZ {
  position: relative;
  top: 1vh;

  font-family: BigJohnBold;
  font-weight: normal;
  color: $light;
  font-size: 0.25vh;
  letter-spacing: 0.25vw;

  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  &:hover {
    color: $yellow;
  }
}
