$dark: #070707;
$blue: #061d33;
$yellow: #f4c724;
$beige: #f2edc9;
$light: #fffdf2;

.ham-container-A {
  position: fixed;
  width: 85px;
  right: 0;
  top: 0;

  margin: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;

  background: $yellow;
}

.ham-container-B {
  position: fixed;
  width: 85px;
  right: 0;
  top: 0;

  margin: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;

  background: $yellow;
}

.hamburger {
  position: relative;
}

.hamburger div {
  width: 35px;
  height: 3.5px;
  background-color: $light;
  border-radius: 5px;
  margin: 6px 0px;

  position: relative;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:hover {
    width: 45px;
    background-color: $dark;
  }
}

.menu-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  position: fixed;
  display: flex;
  flex-direction: column;

  align-items: center;

  overflow-x: hidden;
  z-index: 1;

  transition: 0.5s;

  background-color: $dark;
  opacity: 0.9;
}

.nav-link-1 {
  position: absolute;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.nav-link-2 {
  position: absolute;
  bottom: 0;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.nav-link-3 {
  position: absolute;
  top: 45%;
  left: 0;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.nav-link-4 {
  position: absolute;
  top: 45%;
  right: 0;

  padding: 10px;

  font-size: 38px;
  color: $light;

  transition: 0.3s;
}

.closeBtn {
  position: absolute;
  right: 1.25vw;
  top: 0.75vw;

  font-size: 1rem;
  color: $light;

  transition: 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.footer-container {
  position: absolute;
  width: 100%;
  height: 18vh;

  text-align: center;
}

.footer-stereo {
  position: relative;
  top: 1vh;

  font-family: BigJohnBold;
  font-weight: normal;
  color: $light;
  font-size: 2.5em;
  letter-spacing: 0.35em;

  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  &:hover {
    color: $yellow;
  }
}
